<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @trips %>
	<% @trips.each do |trip| %>
		<div class="well">
			<%= trip.content %>
			<br />
			<%= link_to time_ago_in_words(trip.created_at), trip_path(trip) %> ago
		</div>
	<% end %>
<% end %>